<div *ngFor="let vehicleType of vehicleTypesList">
    <div *ngIf="measuramentMap.get(vehicleType) as elem" style="padding-bottom: 75px;">
      <div class="text-center" style="padding-bottom:5px;"> <p-message severity="success" text="{{vehicleType}}" styleClass="p-mr-2 text-center"></p-message>
      </div>
    <p-table [value]="elem" [lazy]="true" (onLazyLoad)="loadMeasuraments($event,vehicleType)" [loading]="loading"
        rowGroupMode="subheader" groupRowsBy="vehicleModel" [scrollable]="true" scrollHeight="500px"
        [virtualScrollItemSize]="10" [virtualRowHeight]="40" >
        <ng-template pTemplate="header">
            <tr>
                <th style="min-width:200px" >Timestamp</th>
                <th style="min-width:200px" pSortableColumn="pressure"><p-sortIcon field="pressure"/>Pressure</th>
                <th style="min-width:200px" pSortableColumn="tyrePosition"><p-sortIcon field="tyrePosition"/>Tyre Position</th>
                <th style="min-width:200px" pSortableColumn="temperature"><p-sortIcon field="temperature"/>Temperature</th>
                <th style="min-width:200px" pSortableColumn="angularVelocity"><p-sortIcon field="angularVelocity"/>Angular Velocity</th>
                <th style="min-width:200px" pSortableColumn="linearSpeed"><p-sortIcon field="linearSpeed"/>Linear Speed</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-vehicle>
            <tr>
                <td>{{ vehicle.timestamp }}</td>
                <td>{{ vehicle.pressure }}</td>
                <td>{{ vehicle.tyrePosition}}</td>
                <td>{{ vehicle.temperature }}</td>
                <td>{{ vehicle.angularVelocity }}</td>
                <td>{{ vehicle.linearSpeed }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>
</div>